<!DOCTYPE html>
<head>
  <!-- A grey horizontal navbar that becomes vertical on small screens -->
  <nav class="navbar navbar-expand-sm bg-dark justify-content-center navbar-dark fixed-top">
    <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <!-- Links -->
      <ul class="navbar-nav navbar-center">
        <li class="nav-item">
          <a class="nav-link" href="#home">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experience">EXPERIENCE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about-section">ABOUT ME</a>
        </li>
      </ul>
    </div>

  </nav>



</head>


<body>
  <section id="home">
    <div  class="masthead">
      <div class="container-fluid h-100">
        <div class="row h-100 align-items-center">
          <div class="demo-title col-12 text-center">
            <h1 class="font-weight-light display-1 animated infinite once delay-2s">Weilcome!</h1>
            <p id="words">Where there is a will, there is a Wei.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="about-section" class="mb-5 pb-5 bg-light">
    <div class="container-fluid h-40 ">
      <row>
        <div class="col-12 section-title">
          <h2 class="section-title">About Me</h2>
        </div>
      </row>
      <div class="row">

        <div class="col-12 text-center">
          <img src="assets/me.jpg" alt="Image" class="img-fluid circle-bound" style="max-height: 100px; max-width: 200px;">
          <p>Coder &#9642; Amazonion &#9642; Jesus Follower</p>
          <p>
            <a href="https://www.linkedin.com" target="_blank">
              <span class="fa-stack">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x"></i>
              </span>
            </a>

            <a href="https://www.google.com" target="_blank">
                <span class="fa-stack">
                  <i class="fa fa-square-o fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x"></i>
                </span>
            </a>
          </p>
          <p>I enjoy problem solvings. I also love being outdoor. Deep down I am very adventurous, even tho i stay inside and code most of the time
          </p>
        </div>

      </div>
    </div>
  </section>

  <section id="experience">

    <div class="container">
      <row>
        <div class="col-12 section-title">
          <h2 class="section-title">Experience</h2>
        </div>
      </row>



      <div class="exp row vh-50 pb-4">
        <div class="col-12 col-sm-5 col-md-5 col-lg-3 col-xl-3 text-center">
          <a href="https://www.amazon.com" target="_blank">
            <img src="assets/amazon-logo.png" alt="Image" class="img-fluid rounded-circle" style="max-height: 150px; max-width: 300px;">
          </a>
        </div>
        <div class="col-12 col-sm-7 col-md-7 col-lg-9 col-xl-9">
          <h4>Software Engineer Intern</h4>
          <h4 class="text-secondary">July 2017 - Sep. 2017</h4>
          <ui>
            <li>
              Encapsulated the underlying Android platform to provide React Native API for other Amazon.com mobile feature developers
            </li>
          </ui>
        </div>
      </div>



      <div class="exp row vh-50 pb-4">
        <div class="col-12 col-sm-5 col-md-5 col-lg-3 col-xl-3 text-center">
          <a href="https://www.amazon.com" target="_blank">
            <img src="assets/aws.jpg" alt="Image" class="img-fluid rounded-circle" style="max-height: 150px; max-width: 300px;">
          </a>
        </div>
        <div class="col-12 col-sm-7 col-md-7 col-lg-9 col-xl-9">
          <h4>Software Engineer Intern</h4>
          <h4 class="text-secondary">July 2017 - Sep. 2017</h4>
          <ui>
            <li>
              Designed and created a push notification service for an AWS iOS app
            </li>
            <li>
              Utilized AWS Pinpoint to store user ids and send customized individual/group notifications.
            </li>
          </ui>
        </div>
      </div>


      <div class="exp row vh-50 pb-4">
        <div class=" col-12 col-sm-5 col-md-5 col-lg-3 col-xl-3 text-center">
          <a href="https://www.amazon.com" target="_blank">
            <img src="assets/amazon-logo.png" alt="Image" class="img-fluid rounded-circle" style="max-height: 150px; max-width: 300px;">
          </a>
        </div>
        <div class="col-12 col-sm-7 col-md-7 col-lg-9 col-xl-9">
          <h4>Software Engineer Intern</h4>
          <h4 class="text-secondary">July 2017 - Sep. 2017</h4>
          <ui>
            <li>
              Designed and created a service to autogenerate a daily accuracy report for the forecast of the number of packages going into a specific warehouse in Amazon network
            </li>
            <li>
              Stored the data in AWS S3 buckets and AWS SWF to aggregate data and compute accuracy result
            </li>
          </ui>
        </div>
      </div>




      <div class="exp row vh-50 pb-4">
        <div class="col-12 col-sm-5 col-md-5 col-lg-3 col-xl-3 text-center">
          <a href="https://www.cs.washington.edu" target="_blank">
            <img src="assets/cse.png" alt="Image" class="img-fluid rounded-circle" style="max-height: 150px; max-width: 300px;">
          </a>
        </div>
        <div class="col-12 col-sm-7 col-md-7 col-lg-9 col-xl-9">
          <h4>Teaching Assistant</h4>
          <h4 class="text-secondary">March 2019 - June 2020</h4>
          <ui>
            <li>
              Taught Discrete Mathematics to a section of 25 - 30 students
            </li>
            <li>
              Answered students’ questions, proctored exams, and graded tests and assignments

            </li>
          </ui>
        </div>
      </div>


    </div>
    <div class="text-center pt-4 pb-4 ">
      <button class="btn exp" ><i class="fa fa-download"></i> <a href="resume.docx" download>Download</a></button>
    </div>

  </section>

  <section>
    <div class="text-center pt-4 pb-2 bg-light">
      <p>
        <a href="https://www.linkedin.com" target="_blank">
              <span class="fa-stack">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x"></i>
              </span>
        </a>

        <a href="https://www.google.com" target="_blank">
                <span class="fa-stack">
                  <i class="fa fa-square-o fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x"></i>
                </span>
        </a>
      </p>
    </div>
  </section>

</body>
